.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.radioLabel {
  margin-right: 5px;
  margin-left: 5px;
}

.scalarLabel {
  margin-right: 5px;
}

.parent .row-label {
  text-align: left;
  text-indent: 5%;
}

.childVariable .row-label {
  text-align: left;
  text-indent: 10%;
}

.childDataset .row-label {
  text-align: left;
  text-indent: 15%;
}

#scalarDiv {
  margin-left: auto;
  margin-right: auto;
}
.controlColumn,
.tableColumn {
  margin-top: 0.5em;
}

#colorLegendTable,
.missingLegend {
  margin-left: auto;
  margin-right: auto;
}

.colorLegendLabel {
  margin-left: 0.25em;
}

.missingLegend {
  margin-top: 1.5em;
}

.row_header:hover {
  border: 2px solid;
}

.row-label:hover {
  border-width: 1.5px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
